.profile-pic{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 150px;
}
.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}
.description-header{
    text-align: center;
    width: 70%;
    font-size: 70px;
    font-weight: 600;
}
.description-paragraph{
    width: 50%;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
}
.hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}

.hero-connect{
    padding: 25px 45px;
    border-radius: 50px;
    background: rgb(29, 44, 90) ;
    cursor: pointer;
    color: black;
}

.hero-resume{
    padding: 25px 75px;
    border-radius: 50px;
    border-radius: 50px;
    border: 2px solid black;
    cursor: pointer;
    background-color: white;
    color: black;

}
@media(max-width: 768px){
    .hero img{
        margin-top: 120px;
        width: 260px;
        
    }
    .hero h1{
        margin-top: 50px;
        width: 90%;
        font-size: 50px;
    }
    .hero p{
        width: 60%;
        font-size: 18px;
        line-height: 32px;
        margin: 10px 0px;
    }
    .hero-action{
        gap: 16px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 50px;

    }.hero-connect{
        padding: 20px 30px;
        border-radius: 40px;
    }
    .hero-resume{
       padding: 20px 50px; 
       border-radius: 40px;
    }
}