.profile-pic{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 150px;
}
.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}
.description-header{
    text-align: center;
    width: 70%;
    font-size: 70px;
    font-weight: 600;
}
.description-paragraph{
    width: 50%;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
}
.hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}

.hero-connect{
    padding: 25px 45px;
    border-radius: 50px;
    background: rgb(29, 44, 90) ;
    cursor: pointer;
    color: white;
}

.hero-resume{
    padding: 25px 75px;
    border-radius: 50px;
    border-radius: 50px;
    border: 2px solid black;
    cursor: pointer;

}
.hero-connect:hover{
    background-color: white;
    border: 2px solid black;
    color: black;
}
.hero-resume:hover{
    background-color: rgb(29, 44, 90);
    color: white;
}