.name {
    font-size: 50px;
    font-weight: bold;
    color: rgb(194, 137, 32);
    font-family: "Quintessential", serif;
    font-weight: 400;
    font-style: normal;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    font-size: 30px;
    cursor: pointer;
}
.nav-connect{
    font-size: 25px;
    padding: 20px 30px;
    border-radius: 50px;
    background-color: rgb(29, 44, 90);
    color: white;
    cursor: pointer;
    transition: 0.5s;
}
.nav-connect:hover{
    transform: scale(1.05);
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
.nav-menu li img{
    display: flex;
    margin: auto;
}
.anchor-link{
    text-decoration: none;
    color: white;
}
.nav-mob-close{
    display: none;
}
.nav-mob-open{
    display: none;
    
}
@media (max-width: 768px){
    .navbar{
        margin: 20px 50px;
    }
    .nav-connect{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: fixed;
        right: 30px;

    }
    .nav-mob-close{
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;
    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1F0016;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }
    .nav-menu li{
        font-size: 100px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
        font-size: 50px;
    }
}

